html,body
{
    height: 100%;
    width: 100%;
}
.bg{
    border-radius: 20px;
    padding: 50px;
    width: 40%;
    margin: auto;
    background-color: rgb(148, 186, 255);
    box-shadow: inset 10px 10px 40px white;
}
h2{
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inp{
    background-color: rgb(205, 223, 255);
    padding-left: 16px;
    font-weight: bold;
    height: 35px;
    width: 175px;
    margin: 17px;
    border: none;
    border-radius: 10px;
    box-shadow: inset -10px -10px 15px rgb(48, 116, 241);
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(40, 104, 224);
    margin: auto;
    width: 50%;
    padding: 15px;
    box-shadow: 20px 20px 50px rgb(255, 255, 255);
    border-radius: 20px;
}
.btn{
    border-radius: 40px;
    font-weight: bold;
    margin: 7px;
    padding: 10px;
    font-size: 15px;
}