*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.sky{
    background-image: url("/sky.png");
    background-repeat: repeat-x;
    width: 1500vw;
    height: 38vh;
    animation: sky 15s linear infinite;
}
@keyframes sky {
    100%{
        transform: translateX(-1000px);
    }
}
.hero{
    overflow: hidden;
}
.road{
    padding-top: 250px;
    background-image: url('/road.jpg');
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
    width: 1000vw;
    height: 25vh;
    z-index: -1;
    animation: highway 10s linear infinite;
}
@keyframes highway{
    100%{
        transform:translateX(-2400px)
    }
}
.car{
    position: absolute;
    top: 40vh;
    z-index: 2;
    width: 45em ;
}
#tyre{
    bottom: 6em;
    position: relative;
    width: 72%;
    display: flex;
    justify-content: space-between;
    margin-left: 3em

}
#tyre img {
    height: 15vh;
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    100%{
        transform :rotate(360deg);
    }
}

/* js */


@keyframes carotate {
    100%{
        
        transform: rotate(-10deg);
        transform-origin: left;
        
    }

}

